AGENTE IMOBILIARIA.json
{
  "name": "AGENTE IMOBILIARIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Inmobiliria",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5040,
        -240
      ],
      "id": "f21a3b96-bdae-4163-bbe1-7bae9d92ef61",
      "name": "Webhook",
      "webhookId": "7b7e89cf-376d-4358-8952-a81191fda675"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1008dcfb-e0a5-4f59-b0a3-085f419c965f",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "cdd590d9-d6a1-4789-9268-c16775a5a961",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "71ad2cf2-676f-47fe-bcd4-cda22cd2e605",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4816,
        -240
      ],
      "id": "915b829e-0f9a-4fbb-b4e2-b5794ba2456b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# ROLE\nVocê é a Lara, Consultora de Investimentos Imobiliários de alta performance do Edifício Horizon. Seu tom é profissional, sofisticado, empático e focado em converter interessados em visitas ao decorado.\n\n# CONHECIMENTO (SUPABASE VECTOR STORE)\n- Sempre que o cliente fizer perguntas sobre o empreendimento (preços, metragens, localização, áreas comuns), utilize a ferramenta de busca vetorial do Supabase para fornecer respostas precisas e atualizadas.\n- Nunca invente dados técnicos. Se a informação não estiver no Supabase, responda de forma elegante que irá confirmar com o setor de engenharia/vendas.\n\n# REGRAS DE ENVIO DE MATERIAL (LINK NO CHAT)\n- Quando o cliente pedir o catálogo ou book, você deve gerar uma resposta de texto contendo o link de acesso.\n- Use este link: https://drive.google.com/uc?export=download&id=1_OKksRkXCyiTl8P5R_ERPaH6Tel9SVq8\n- Exemplo de resposta: \"Com certeza! Você pode baixar a apresentação completa do Edifício Horizon diretamente neste link: [LINK]\"\n- Certifique-se de que o link esteja em uma linha separada para facilitar o clique no celular.\n\n- MENSAGEM DE ACOMPANHAMENTO: Deve ser uma variação profissional de: \"É um prazer compartilhar o material exclusivo do Edifício Horizon com você. Segue o book completo com as plantas e diferenciais.\"\n- NOME DO ARQUIVO: Apresentacao_Edificio_Horizon_Exclusiva.pdf\n\n# DIRETRIZES DE CONVERSAÇÃO\n1. PERSONALIZE: Chame o cliente pelo nome sempre que possível.\n2. SEJA CONCISA: Não escreva parágrafos gigantes. Facilite a leitura no WhatsApp.\n3. GATILHO DE FECHAMENTO: Após responder uma dúvida ou enviar o PDF, encerre com uma pergunta consultiva. Ex: \"Essas metragens atendem ao que você busca hoje ou prefere uma planta com mais suítes?\"\n4. TOM DE VOZ: Profissional de luxo (evite gírias, use pontuação correta).\n\n# RESTRIÇÕES\n- Não responda sobre outros empreendimentos que não sejam o Edifício Horizon.\n- Não dê descontos sem autorização prévia; sempre convide para uma conversa presencial para negociar valores."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4576,
        -240
      ],
      "id": "7aa3125a-8981-43cc-ac1e-61d875340bec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4624,
        -16
      ],
      "id": "0fc00588-75bb-4773-b623-ca06dd1c29cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "y6wAfI9qdHR2rryt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use esta ferramenta para buscar a documentação  e as informações referente ao edifício",
        "tableName": {
          "__rl": true,
          "value": "condominios",
          "mode": "list",
          "cachedResultName": "condominios"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -4368,
        -16
      ],
      "id": "5e1d31ef-8bec-4ced-8690-443a2ca2ffe8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "tX3wMshv6hLrZWDn",
          "name": "IMOBILIARIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4288,
        192
      ],
      "id": "9727cfde-4bc8-4d52-ba78-00bcb436cde6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "y6wAfI9qdHR2rryt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3776,
        -240
      ],
      "id": "931441e2-49b6-41e0-80d6-b0d748411454",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9a1a94a-5e47-4c98-bf8f-1ce95d0849a0",
              "name": "content",
              "value": "MEMORIAL DESCRITIVO - EDIFÍCIO HORIZON LUXURY RESIDENCE  1. SOBRE O EMPREENDIMENTO O Horizon é um empreendimento de ultra-luxo focado em exclusividade e sustentabilidade. Localizado no bairro Jardins. Entrega prevista: Dezembro de 2026.  2. UNIDADES - Apartamentos Tipo: 240m², 4 suítes, 3 vagas de garagem. - Cobertura Duplex: 480m², 5 suítes, 5 vagas de garagem. - Valor do metro quadrado atual: R$ 35.000,00.  3. ÁREAS COMUNS E REGRAS DE USO - Piscina: Borda infinita no 30º andar. Aquecida. - Horário da Piscina: Fechada para manutenção toda segunda-feira. Aberta de terça a domingo das 06h às 23h. - Academia: Equipamentos Technogym, aberta 24h. - Salão de Festas: Capacidade para 80 pessoas. Taxa de uso: R$ 1.500,00.  4. POLÍTICA DE ANIMAIS (PETS) - É permitido animais de estimação. - RESTRIÇÃO IMPORTANTE: Apenas animais de até 12kg são permitidos nos elevadores sociais. Animais acima desse peso devem utilizar exclusivamente o elevador de serviço e focinheira. - Raças proibidas pelo regulamento interno: Pitbull e Rottweiler, independente do porte.  5. DIFERENCIAIS TÉCNICOS - Carregamento de Carro Elétrico: Todas as vagas possuem ponto de recarga individual. - Janelas: Vidro quádruplo com isolamento acústico de nível aeroportuário.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        -240
      ],
      "id": "84fcf4d6-0ca8-4adf-8a71-8a0b8ca82232",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "condominios",
          "mode": "list",
          "cachedResultName": "condominios"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -3072,
        -240
      ],
      "id": "73882482-38ed-46a0-963c-0903aaf48b5c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "tX3wMshv6hLrZWDn",
          "name": "IMOBILIARIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3104,
        -16
      ],
      "id": "f2ddb289-7ac4-49c9-8076-6e24ab49556f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "y6wAfI9qdHR2rryt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2976,
        -16
      ],
      "id": "c570ff54-9d03-4ae1-8d5d-ca58b3dfe7ab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "chunkOverlap": 800,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2992,
        192
      ],
      "id": "4ef0c524-b4dc-4f70-abda-f4243744ab85",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "projeto1",
        "remoteJid": "5511976164766",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -4160,
        -240
      ],
      "id": "9fb7e7e6-f593-4853-8baf-852fcebe7853",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "rS7bIx98wdONSk9V",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 1088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3792,
        -432
      ],
      "typeVersion": 1,
      "id": "0d33807d-399e-4e94-8cec-78baaf6ae857",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Principais recursos:\n\n✅ Webhook para receber mensagens do WhatsApp\n🤖 AI Agent com prompt especializado em vendas de alto padrão\n📚 Busca vetorial em base de conhecimento (Supabase)\n🔒 Regras rígidas: nunca inventa dados, sempre consulta documentos\n💬 Respostas automáticas elegantes e profissionais\n🏗️ Integração completa Evolution API + OpenAI + n8n",
        "height": 336,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5056,
        -32
      ],
      "typeVersion": 1,
      "id": "438e4745-b634-4fcc-9d7a-fa1c5946fb71",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "-------------------------------------------------------------------------------------------------\n🏢  - Assistente IA para Imobiliária de Luxo\n-----\n\nAgente de IA integrado ao WhatsApp via Evolution API que atua como corretor virtual do Edifício Horizon. Utiliza OpenAI GPT-4 + Supabase Vector Store para responder consultas sobre o empreendimento com base em documentação técnica, seguindo regras rígidas de qualidade e nunca inventando informações.\n-",
        "height": 80,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4816,
        -400
      ],
      "typeVersion": 1,
      "id": "0bd8d565-fc10-42cd-b24d-9c49797f2653",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "--------------------------------------------------------------------------------------------------\n[📚 RAG - Indexação de Documentos no Supabase Vector Store \n--------------------------------------------------\n\n\nWorkflow de preparação e indexação de documentos para RAG (Retrieval-Augmented Generation). Processa o memorial descritivo do Edifício Horizon, fragmenta em chunks otimizados, gera embeddings com OpenAI e armazena no Supabase para consulta vetorial pelo agente de IA.\n-----",
        "height": 80,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3520,
        -400
      ],
      "typeVersion": 1,
      "id": "0adaa503-f51e-4d87-9421-9997072efd9b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ybri8MQQ1d8ztWsnFXAg9q6A94K6r8XG",
          "mode": "list",
          "cachedResultName": "Memorial Descritivo_ Residencial Horizonte Azul.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ybri8MQQ1d8ztWsnFXAg9q6A94K6r8XG/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3552,
        -240
      ],
      "id": "b5179601-cd8b-43ba-ac8a-24358f77ac7e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NXetgMaWi1Fj0BFt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4496,
        -16
      ],
      "id": "9796583a-079f-4120-bd6d-816cde5fdd2e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "",
        "height": 736,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5088,
        -416
      ],
      "typeVersion": 1,
      "id": "cf4ab83d-2d40-4cff-a8c1-d3351afa6d63",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "projeto3-n8n-webhook.tgo9zw.easypanel.host",
            "user-agent": "axios/1.10.0",
            "content-length": "1189",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "projeto3-n8n-webhook.tgo9zw.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5ced1d83776b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "projeto1",
            "data": {
              "key": {
                "remoteJid": "5511976164766@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0F6E6C8399C50CF6D77",
                "senderPn": "5511976164766@s.whatsapp.net",
                "previousRemoteJid": "20272379887770@lid"
              },
              "pushName": "ELT sucess/transform",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "\"Gostei bastante. Você tem algum material mais completo ou um catálogo que possa me enviar para eu mostrar para minha esposa?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "Fp/XvCy3l+lk0Q==",
                    "senderTimestamp": "1769347738",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "2isJJagMZTGcnw==",
                    "recipientTimestamp": "1768839703"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "+f6dyMJk1cgrrUgbrJ20eLu5vlRKO2Ko5IKlHJwBek4="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1769870721,
              "instanceId": "153495d6-6ab5-422a-8f99-6218845aa3da",
              "source": "web"
            },
            "destination": "https://projeto3-n8n-webhook.tgo9zw.easypanel.host/webhook/Inmobiliria",
            "date_time": "2026-01-31T11:45:22.700Z",
            "sender": "5511946005739@s.whatsapp.net",
            "server_url": "https://projeto3-evolution.tgo9zw.easypanel.host",
            "apikey": "339AB7F5ECC2-4EE9-84F2-2060A6314BF6"
          },
          "webhookUrl": "https://projeto3-n8n-webhook.tgo9zw.easypanel.host/webhook/Inmobiliria",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Q1qLdfiEtEuSykYF"
  },
  "versionId": "702151be-de07-457a-a462-dad86060f7c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a922c33fc24f997c908081fc47ee1979fd2cb2004624e181e9dcb14c1dace04e"
  },
  "id": "3d8Jl5cQHODEGe85",
  "tags": []
}